


<ul class="navbar" id="navbar">
  <li class="nav-item">
    <a class="nav-link" routerLink="/main">HOME</a>

    <li class="nav-item" id="navbarItem">
      <a class="nav-link" routerLink="/listProductos">PRODUCTOS</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">SERVICIOS</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">MEZCLAS</a></li>
      <li><a class="dropdown-item" href="#">MASTERING</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">AGENDAR CLASE</a></li>
    </ul>
  </li>

</ul>
