<!-- <h2>Login de usuario</h2>
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form>
<button class="btn btn-info" (click)="onClick()">Login With Google</button> -->

<div id="todo">
  <h2>Login</h2>
      <div id="principal_div">

          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control" formControlName="email">
              </div>
              <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password">
              </div>
              <input id="enviar" type="submit" value="Enviar">
          </form>
          <button class="btn btn-info" (click)="onClick()">Login With Google</button>
      </div>
      <a href="">No tienes usuario? Registrate aquí!</a>
  </div>
